.layout{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 50px;




  .info_title {
    color: #333;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 30px;
  }
}