.page {
	width: 100%;

	.banner {
		width: 100%;
		display: block;
		height: 550px;
		max-height: 550px;
		margin-bottom: 30px;
		position: relative;
	}

	.description {
		display: block;
		font-size: 18px;
		line-height: 1.5;
		font-weight: 700;
		font-style: italic;
		margin-bottom: 50px;
	}

	.content {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
		margin-top: 20px;
		text-align: justify;

		img {
			width: 100%;
			height: 35vh;
			object-fit: contain;
			object-position: center center;
		}
	}
}
